<div class="container alert alert-light">

  <h1 class="mt-4"><%= @category.title %></h1>
  <div>
    <%= @category.title %>
  </div>
  <hr>

  <p>
    <%= @category.description %>
  </p>

  <%= image_tag @category.image.url(:large) if @category.image?%>

  <%= link_to 'Back', admin_categories_path, class:"btn btn-secondary"%>

</div>

