<p id="notice"><%= notice %></p>
<div></div>

<div class="containerr container">


  <div class="second_child">
    <table class="table">
      <tr>
        <td><strong><%= t('products.index.title') %></strong></td>
        <td><strong><%= t('products.index.description') %></strong></td>
        <td><strong><%= t('products.index.price') %></strong></td>
        <td><strong><%= t('products.index.category') %></strong></td>
        <td><%= link_to "#{t('products.index.n_p')}", new_admin_product_path, class: "btn btn-primary"%></td>
      </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= Category.find(product.category_id).title %></td>
        <td><%= link_to "#{t('products.index.show')}", admin_product_path(product), class:"btn btn-outline-success" %>
          <%= link_to "#{t('products.index.edit')}", edit_admin_product_path(product), class:"btn btn-outline-warning"%>
          <%= link_to "#{t('products.index.destroy')}", admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"%></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
