<div class="container alert alert-light">
  <h1 class="mt-4"><%= @product.title %></h1>
  <div>
    <%= Category.find(@product.category_id).title %>
  </div>
  <hr>

  <p>
    <%= @product.description %>
  </p>

  <div class = "container">
    <% @product.images.each do |image| %>
      <%= image_tag image.url(:large) %>
    <% end %>
  </div>


  <%= link_to 'Back', admin_products_path, class:"btn btn-secondary"%>
</div>

