<div class="container alert alert-light">

  <h1 class="mt-4"><%= @product.title %></h1>
  <div>
    <%= Category.find(@product.category_id).title %>
  </div>
  <hr>

  <p>
    <%= @product.description %>
  </p>

  <div class = "container">
    <% @product.images.each_with_index do |image, index| %>
      <%= image_tag image.url(:large) %>
      <%= link_to "Delete", admin_product_image_path(@product, index), method: :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
    <% end %>
  </div>

  <div class = "container">
    <h3>Add new images</h3>
    <% form_for @product, url: admin_product_images_path(@product), method: :post do |f| %>
      <%= f.file_field :images, multiple: true %>
      <%= f.submit "Add More Images" %>
    <% end %>
  </div>
  <%= link_to 'Back', admin_products_path, class:"btn btn-secondary"%>
</div>

