<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :"#{t('products.index.name')}" %><br>
    <%= f.text_field :name, required: true, autofocus: true, class:"form-control" %>
  </p>
  <p>
    <%= f.label :"#{t('user.email')}" %><br>
    <%= f.email_field :email, class:"form-control" %>
  </p>
  <p>
    <%= f.label :"#{t('user.address')}" %><br>
    <%= f.text_area :address, class:"form-control" %>
  </p>
  <p>
    <%= f.submit :"#{t('products.index.submit')}", class:"btn btn-success" %>
  </p>
<% end %>