<%= form_with(model: [ :admin, @order ], local: true) do |form| %>

  <div class="field">
    <%= form.label :"#{ t('user.status')}" %>
    <%= form.text_field :status, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :"#{ t('products.index.comment')}" %>
    <%= form.text_field :comment, class:"form-control" %>
  </div>

  <%= form.submit :"#{ t('products.index.submit')}", class:"btn btn-dark"%>
  <br>
<% end %>