<% @orders.each do |order| %>
  <hr>
  <p><%= t('user.name') %>: <%= order.name %></p>
  <p><%= t('user.email') %>: <%= order.email %></p>
  <p><%= t('user.status') %>:: <%= order.status %></p>
  <p><%= t('products.index.cart') %>: </p>

  <ul>
    <% order.cart_items.each do |item| %>
      <li><%= item.quantity %> x <%= item.product.title %></li>
    <% end %>
  </ul>

  <%= link_to "#{t('products.index.show')}", admin_order_path(order), class:"btn btn-secondary"%>
  <%= link_to "#{t('products.index.edit')}", edit_admin_order_path(order), class:"btn btn-secondary"%>
  <hr>

<% end %>