<style>
  .first_child {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  }
</style>

<% @products.each do |product| %>
  <div class="container alert alert-dark">
    <div class="list group-item">
      <div>

        <% if product.images? %>
          <%= image_tag product.images.first.url(:thumb) %>
        <% end %>
        <div>
          <strong>Title:</strong>
        </div>
        <div><%= product.title %></div>

        <div>
          <strong>Category:</strong>
        </div>
        <div>
          <%= Category.find(product.category_id).title %>
        </div>
        <%= image_tag product.image.url(:thumb) if product.image?%>
        <div>
          <%= link_to 'Show', product, class:"btn btn-outline-success" %>
          <%= link_to 'Buy', product, class:"btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- -->

<div class="second_child">

  <%= will_paginate @products %>
</div>