<style>
  .first_child {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  }
</style>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "Min Price", min_price_product_index_path, class:"dropdown-item"%>
    <%= link_to "Max Price", max_price_product_index_path, class:"dropdown-item"%>
    <%= link_to "Newest", new_sort_product_index_path, class:"dropdown-item"%>
  </div>
</div>
<div class="first_child">
  <% @products.each do |product| %>
    <div class="container alert alert-dark">
      <div class="list group-item">
        <div>
          <% if product.images? %>
            <%= image_tag product.images.first.url(:thumb) %>
          <% end %>
          <div>
            <strong><%= t('products.index.title') %></strong>
          </div>
          <div><%= product.title %></div>
          <div><%= product.price %></div>
          <div>
            <strong><%= t('products.index.category') %></strong>
          </div>
          <div>
            <%= Category.find(product.category_id).title %>
          </div>
          <%= image_tag product.image.url(:thumb) if product.image?%>
          <div>
            <p><%= link_to "#{ t('products.index.show')}", product, class:"btn btn-outline-success" %> </p>
            <%= button_to "Add to cart", cart_items_path(product_id: product.id)  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- -->

  <div class="second_child">

    <%= will_paginate @products %>
  </div>
</div>