<div class="dropdown" align="right">
  <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('products.index.sort_by') %>
  </button>
  <div class="dropdown-menu bg-success" aria-labelledby="dropdownMenuButton">
    <%= link_to "#{t('products.index.min')}", min_price_product_index_path, class:"dropdown-item"%>
    <%= link_to "#{t('products.index.max')}", max_price_product_index_path, class:"dropdown-item"%>
    <%= link_to "#{t('products.index.newest')}", new_sort_product_index_path, class:"dropdown-item"%>
  </div>

</div>
<div class="first_child">
  <% @products.each do |product| %>
    <div class="container alert bg-light">
      <div class="list group-item">
        <div>
          <h3><strong><%= product.title %></strong></h3>

          <% if product.comments.present? %>
            <% (eval(sprintf("%8.1f",product.comments.sum(:rating)/product.comments.count)).to_i).times do |i| %>
              <i class="fas fa-star yellow"></i>
            <% end %>
            <% ((5-eval(sprintf("%8.1f",product.comments.sum(:rating)/product.comments.count))).to_i).times do |i| %>
              <i class="far fa-star yellow"></i>
            <% end %>
            <%= eval(sprintf("%8.1f",product.comments.sum(:rating).to_d/product.comments.count.to_d)) %>
          <% end %>
          <i class="far fa-comments"> <%= product.comments.count %></i>

          <% if product.images? %>
            <%= image_tag product.images.first.url(:medium) %>
          <% else %>
            <img src="https://i.imgur.com/GR5m05e.png" width="175px"  height="250px" />
          <% end %>
          <div><%= eval(sprintf("%8.2f",product.price)) %>₴</div>
          <div>
            <strong><%= t('products.index.category') %></strong>
          </div>
          <div>
            <%= Category.find(product.category_id).title %>
          </div>
          <%= image_tag product.image.url(:thumb) if product.image?%>
          <div>
            <p><%= link_to "#{ t('products.index.show')}", product, class:"btn btn-outline-success" %> </p>
            <% if current_user %>
              <%= button_to "#{t("products.index.add")}", cart_items_path(product_id: product.id), class:"btn btn-success"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- -->

  <div class="second_child">
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
  </div>
</div>