<div class="container">
  <h1 class="mt-4"><%= @product.title %></h1>
  <% if @product.images? %>
    <%= image_tag @product.images.first.url(:large) %>
  <% else %>
    <img src="https://i.imgur.com/GR5m05e.png" width="350px"  height="500px" />
  <% end %>
  <br>
  <br>
  <% @product.images.each do |image| %>
        <%= image_tag image.url(:medium)%>
  <% end %>
  <br>
  <br>
  <div>
    <strong><%= t("products.index.category") %>: </strong><%= Category.find(@product.category_id).title %>
  </div>
  <hr>

  <div>
    <strong><%= t("products.index.description") %>: </strong><%= @product.description %>
  </div>
  <br>
  <%= link_to "#{ t('products.index.back')}", product_index_path, class:"btn btn-secondary"%>
</div>
<br>
<% @product.comments.each do |comment| %>
  <div class="border border-secondary rounded padd">
    <div class = "border border-secondary rounded d-flex justify-content-between">
      <div>
        <%=User.find_by_id(comment.user_id).email%>
      </div>
      <div>
        <%= comment.created_at %>
      </div>
    </div>
    <div>
      <% comment.rating.times do |i| %>
        <i class="fas fa-star yellow"></i>
      <% end %>
      <% (5-comment.rating).times do |i| %>
        <i class="far fa-star yellow"></i>
      <% end %>
    </div>

    <div>
      <%= comment.body %>
    </div>
    <div>
      <strong><%= t('products.index.plus') %>:</strong><br>
      <%= comment.plus %>
    </div>
    <strong><%= t('products.index.minus') %>:</strong><br>
    <%= comment.minus %>

  </div>
<br>
<% end %>


<div class="container new_comment_form">
  <div class="coments" id="form_new">
    <div id="form_comment">
      <% if current_user %>
        <hr>
        <div class="container">
          <br>
          <span class = "info"> </span>
        </div>
        <h3><%= t('products.index.add_n_c') %></h3>
        <%= form_with(model: [ @product, @product.comments.build ]) do |form| %>
          <p>
            <% 5.times do |i| %>
            <div class="form-check form-check-inline">
              <%= form.radio_button(:rating, i+1, class:"form-check-input") %>
              <%= i+1 %>
            </div>
            <% end %>
          </p>
          <p>
            <%= form.label :"#{t('products.index.comment')}" %><br>
            <%= form.text_area :body, class:'form-control' %>
          </p>
          <p>
            <%= form.label :"#{t('products.index.plus')}" %><br>
            <%= form.text_area :plus, class:'form-control' %>
          </p>
          <p>
            <%= form.label :"#{t('products.index.minus')}" %><br>
            <%= form.text_area :minus, class:'form-control' %>
          </p>
          <p>
            <%= form.submit :"#{t('products.index.create_n_c')}", class:'btn btn btn-success btn-lg ' %>
          </p>
        <% end %>
      <% else %>
        <h4><%= t('user.p_login') %></h4>
      <% end %>

    </div>
  </div>
</div>