<div class="container alert alert-light">
  <h1 class="mt-4"><%= @product.title %></h1>
  <div>
    <%= Category.find(@product.category_id).title %>
  </div>
  <hr>

  <p>
    <%= @product.description %>
  </p>

  <%= image_tag @product.image.url(:large) if @product.image?%>
  <% @product.images.each do |image| %>
    <%= link_to image_path(image.url(:large)), data: { lightbox: "image"} do
       image_tag image.url(:large), class: "ligthbox"
       end
    %>
<!--    <a href="<%#= image.url(:large) %>" data-lightbox = "some_class">    <%#= image_tag image.url(:large) %></a>-->
  <% end %>

  <%= link_to "#{ t('products.index.back')}", product_index_path, class:"btn btn-secondary"%>
</div>

