<div class="container alert alert-light">

  <h1 class="mt-4"><%= @product.title %></h1>
  <div>
    <%= Category.find(@product.category_id).title %>
  </div>
  <hr>

  <p>
    <%= @product.description %>
  </p>

  <%= image_tag @product.image.url(:large) if @product.image?%>


  <%= link_to 'Back', product_index_path, class:"btn btn-secondary"%>
  <%= link_to 'Buy', product_index_path, class:"btn btn-secondary"%>
</div>

