
<div class="container alert alert-light">
  <h1 class="mt-4"><%= @product.title %></h1>
  <div>
    <%= Category.find(@product.category_id).title %>
  </div>
  <hr>

  <p>
    <%= @product.description %>
  </p>
  <% if @product.images? %>
    <%= image_tag @product.images.first.url(:large) %>
  <% end %>
  <br>
  <br>
  <% @product.images.each do |image| %>
        <%= image_tag image.url(:medium)%>
  <% end %>
  <br>
  <br>
  <%= link_to "#{ t('products.index.back')}", product_index_path, class:"btn btn-secondary"%>
</div>

