<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render '/layouts/navbar' %>

  </head>

  <body>
  <div class = "container">
    <a> <%= link_to "#{t('products.index.cart')}", cart_path(@current_cart) %></a>
    <a class="nav-link"><%= link_to "Укр", { locale: :uk }, class: "nav-item" %>
      <%= link_to "En", { locale: :en }, class: "nav-item" %>
    </a>
    <br>
    <%= yield %>
  </div>
  </body>
</html>
